
<form action="/series/filter-name" method="POST">
<input type="text" id="name" name="name">
<button type="submit">Filter name</button>
</form>

<form action="/series/filter-genre" method="POST">
    <div class="mb-3">
        <label for="genre" class="form-label">Genre:</label>
        <select id="genre" name="genre" class="form-select" required>
            <option value="">Choose a genre</option> 
            {{#each genres}}
                <option value="{{this.name}}" {{#if (equals this.name ../serie.genre)}}selected{{/if}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit">Filter genre</button>
</form>
{{#if IsEmpty}}
    <h1 class="text-center">There is no series</h1>
{{else}}
    <div class="row">
        {{#each series}}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="/series/detail-series/{{this.id}}">
                        <img src="{{img}}" alt="{{name}}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.genre}}</p>
                    </div>
                        <div class="card-footer text-center">
                        <a href="/series/detail-series/{{this.id}}" class="btn btn-info">Detail</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}


